@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Ingredient Name*/
.heading > h1 {
  font-family: 'Pacifico', cursive;
  font-size: 8em;
  margin: 0 0.2em 0 0;
  line-height: 1;
  transform: rotate(-5deg);
}
.heading > span {
  font-family: 'Abril Fatface', serif;
  font-size: 3.2em;
  font-weight: 100;
  line-height: 0.8;
  margin: 0 0 0 1.5em;
}
@keyframes animateHeadingEntree {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  80% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-5deg);
  }
}
.heading {
  animation: animateHeadingEntree 1s forwards;
  color: #fff;
  transform-origin: center;
  position: fixed;
  top: 1em;
  left: 2em;
  z-index: 100;
}

/* Order List */
.orderList {
  position: absolute;
  left: 0;
  top: 20em;
  bottom: 2em;
  width: 30%;
  height: 45vh;
  overflow: hidden;
}
.orderList > h5 {
  position: fixed;
  color: #fff;
  font-size: 2em;
  font-weight: 200;
  margin-left: 1.2em;
  max-width: 4em;
  letter-spacing: 0.52em;
  text-transform: uppercase;
}
.orderList > div {
  position: relative;
  margin-top: 10em;
  height: 100%;
  overflow-y: scroll;
}
.orderList > div > ul {
  list-style-type: none;
  text-align: left;
}
@media (max-width: 1023px) {
  .orderList {
    position: absolute;
    left: 0;
    top: 20vh;
    width: 70%;
    height: 60vh;
    z-index: 200;
  }
  .orderList > h5 {
    position: fixed;
    color: #fff;
    font-size: 1.7em;
    font-weight: 300;
    margin-top: 0;
    margin-left: 1em;
    max-width: 4em;
    letter-spacing: 0.52em;
    text-transform: uppercase;
  }
  .orderList > div {
    position: relative;
    margin-top: 8em;
    margin-left: -1.5em;
    height: calc(60vh - 10em);
    overflow-y: scroll;
  }
}

/* Nav */
.navigation {
  position: fixed;
  z-index: 101;
  bottom: 3em;
  right: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20vh;
}

.navigation > a {
  font-family: 'Abril Fatface', serif;
  font-size: 3em;
  font-weight: 900;
  text-decoration: none;
  color: #ec6760;
}

.navigation > a:hover {
  transition: all 0.5s;
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 1024px) {
  .navigation {
    position: fixed;
    z-index: 101;
    bottom: 3.5em;
    left: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 20vh;
  }

  .navigation > a {
    font-size: 1.8em;
  }
}

.confirm {
  position: fixed;
  bottom: 0.3em;
  right: 0.5em;
  font-family: 'Abril Fatface', serif;
  font-size: 8em;
  margin: 0;
  transform: rotate(-75deg) translateX(40vh);
}

.confirm:hover {
  transition: 0.3s all;
  color: #fff;
  transform: rotate(-75deg) translateX(40vh) scale(1.2);
}

@media (max-width: 1023px) {
  .navigation > a {
    font-family: 'Abril Fatface', serif;
    font-size: 3em;
    font-weight: 900;
    text-decoration: none;
    color: #ec6760;
  }

  .confirm {
    color: #fff;
    position: fixed;
    bottom: 1.5em;
    right: 0.5em;
    font-family: 'Abril Fatface', serif;
    font-size: 5em;
    margin: 0;
    transform: none;
    z-index: 101;
  }

  .confirm:hover {
    cursor: pointer;
    transition: 0.3s all;
    transform: scale(1.1);
  }
}

@media (max-width: 419px) {
  .navigation {
    bottom: 1.5em;
  }

  .navigation > a {
    font-family: 'Abril Fatface', serif;
    font-size: 1.5em;
    font-weight: 900;
    text-decoration: none;
    color: #ec6760;
  }

  .confirm {
    color: #fff;
    position: fixed;
    bottom: 1em;
    right: 0.7em;
    font-family: 'Abril Fatface', serif;
    font-size: 3.5em;
    margin: 0;
    transform: none;
    z-index: 101;
  }

  .confirm:hover {
    cursor: pointer;
    transition: 0.3s all;
    transform: scale(1.1);
  }
}
