.container {
  display: flex;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 32em 2em 0;
}

@media (min-width: 1023px) {
  .content {
    width: 50vw;
    padding: 6em 4em 0;
  }
}

@keyframes fadeInInfo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info {
  color: #fff;
  font-size: 2.5em;
  animation-delay: 2s;
  animation: fadeInInfo 4s forwards;
}

.info > span {
  color: #ec6760;
  font-size: 1em;
  font-weight: 900;
}

@keyframes fadeInInput {
  0% {
    transform: scale(6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ingredient {
  animation-delay: 1s;
  animation: fadeInInput 1s forwards;
  display: flex;
  position: relative;
  width: 100%;
}

.ingredient > span {
  position: absolute;
  color: #2d2d2d;
  font-size: 3em;
}

.ingredient > span > span {
  color: #fff;
  font-size: 1em;
}

.ingredient > input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 3em;
  margin: -1px 0 0 -2px;
  width: 100%;
  outline: none;
  transition: 0.3s all ease-in-out;
}

.ingredient > button {
  visibility: hidden;
}
