.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;
}

.heading > div:first-child {
  color: #000;
  font-weight: 200;
  font-size: 1.8em;
  margin: 0 0 0 3em;
  text-transform: uppercase;
  letter-spacing: 0.75em;
}

.heading > h1 {
  font-family: 'Pacifico', cursive;
  font-size: 8em;
  margin: 0 0.2em 0 0;
  line-height: 1;
  transform: rotate(-5deg);
}

.heading > h2 {
  font-family: 'Abril Fatface', serif;
  font-size: 3.2em;
  font-weight: 100;
  line-height: 0.8;
  margin: 0 0 0 1.5em;
}

@media (max-width: 1023px) {
  @keyframes animateHeading {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(5em);
    }
  }
  .heading {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -45%;
    align-items: center;
    animation-duration: 1s;
    animation-name: animateHeading;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(5em);
  }

  .heading > div:first-child {
    color: #000;
    font-weight: 300;
    font-size: 1.3em;
    margin: 0 0 0.2em 7em;
    text-transform: uppercase;
    letter-spacing: 0.8em;
  }
}

@media (min-width: 1024px) {
  @keyframes animateHeading {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(25%);
    }
  }
  .heading {
    color: #fff;
    align-items: center;
    animation-duration: 1s;
    animation-name: animateHeading;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(25%);
  }
}
